name: Deploy Postgres to AKS

on:
  workflow_call:
    inputs:
      data-region:
        type: string
        required: true

jobs:
  deploy-to-aks:
    name: Deploy Postgres to AKS

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ inputs.data-region }}/postgres
      
      - name: setup-dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.x'

      - id: get-deployment-version
        name: Get Deployment Version
        working-directory: ${{ inputs.data-region }}/postgres/latest
        run: |
          deploymentVersion=$(jq -r '.deploymentVersion' metadata.json)
          echo "deploymentVersion=$deploymentVersion" >> $GITHUB_OUTPUT
          
      - id: get-secret-name
        name: Get Secret Name
        working-directory: ${{ inputs.data-region }}/postgres/latest
        run: |
          secretName=$(jq -r '.secretName' metadata.json)
          echo "secretName=$secretName" >> $GITHUB_OUTPUT 
          
      - name: n3o install
        uses: n3oltd/actions/.github/actions/n3o-dotnet-tool-install@main
        with:
          gh-packages-token: ${{ secrets.GH_PACKAGES_TOKEN }}
          gh-packages-user: ${{ secrets.GH_PACKAGES_NUGET_USERNAME }}
          
      - name: Install and configure kubectl with AKS
        uses: n3oltd/actions/.github/actions/n3o-kubectl-setup@main
        with:
          azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
          resource-group: ${{ inputs.data-region }}

      - id: decrypt-secrets
        name: Decrypt the secrets yml
        working-directory: ${{ inputs.data-region }}/postgres/${{ steps.get-deployment-version.outputs.deploymentVersion }}
        run: |
          echo ${{ secrets[steps.get-secret-name.outputs.secretName] }} | sed 's/./& /g'
          secretsYml=$(dotnet tool run n3o utilities decrypt --path ./postgresSecrets.yaml --key ${{ secrets[steps.get-secret-name.outputs.secretName] }})
          echo $secretsYml > ./postgresSecretsDecrypted.yaml
              
      - name: Apply Secrets YAML to the cluster
        uses: n3oltd/actions/.github/actions/n3o-kubectl-apply-file@main
        with:
          file-name: postgresSecretsDecrypted.yaml
          working-directory: ${{ inputs.data-region }}/postgres/${{ steps.get-deployment-version.outputs.deploymentVersion }}
            
      - name: Apply YAML files to cluster
        uses: n3oltd/actions/.github/actions/n3o-kubectl-apply-files@main
        with:
          working-directory: ${{ inputs.data-region }}/postgres/${{ steps.get-deployment-version.outputs.deploymentVersion }}
          replace-yaml: false
