name: 'Build & Push Platforms App'

on:
  workflow_call:
    inputs:
      subscription-code:
        type: string
        required: true
        
env:
  GH_PAT: ${{ secrets.GH_PACKAGES_TOKEN }}

jobs:
  build-bundle:
    name: Build Bundle
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch configuration files
        run: |
          BASE_URL="https://cdn.n3o.cloud/connect-${{ inputs.subscription-code }}/build"
          
          curl -fSsL -o apps/platforms-app/build/app.json "$BASE_URL/app.json"
          curl -fSsL -o apps/platforms-app/build/themes.json "$BASE_URL/themes.json"

      - name: NPM Install and Build
        run: |
          npm install --legacy-peer-deps # TODO: see how to replace this with `clean-install`
          npm run build:platforms-app
       
      - name: Use Capgo to upload bundle
        uses: n3oltd/actions/.github/actions/n3o-push-js-bundle-capgo@main
        with:
          bundle-name: cloud.n3o.platforms${{ inputs.subscription-code }}
          capgo-upload-api-key: ${{ secrets.CAPGO_API_KEY_UPLOAD }}
          upload-files-path: './apps/platforms-app/dist'
          package-json-path: './apps/platforms-app/package.json'
